.stats3-1 {
  background-image: url(../../assets/MaskGroup1.png);
  background-repeat: no-repeat;
}
.stats3-2 {
  background-image: url(../../assets/MaskGroup2.png);
  background-repeat: no-repeat;
}
.stats3-3 {
  background-image: url(../../assets/MaskGroup3.png);
  background-repeat: no-repeat;
}
